<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TKA Application">
  <test thread-count="5" name="Regression">
    <classes>
      <class name="com.pom.testcase.LoginTest"/>
      <class name="com.pom.testcase.DashboardTest"/>
      <class name="com.pom.testcase.UserTest"/>
      <class name="com.pom.testcase.AddUserTest"/>
    </classes>
  </test> 
</suite> 
